@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: v.$separacion 0;

  @include m.desktop { 
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo{
    margin-bottom: v.$separacion;
    width: 30rem; 

    @include m.desktop { 
      margin-bottom: 0;
    }
  }
}